:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
form{
  display: flex;
  align-items: center;
}
input{
  border: none;
  outline: none;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.search-btn{
  padding: 0.7rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.logout-btn{
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.gallery {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery-item{
  background-color: #323b46;
  border-radius: 0.5rem;
  margin: 1rem;
  width: 20rem;
}
img {  
  height: 20rem;
  width: 100%;
  object-fit: cover; 
  box-sizing: border-box;
}
.gallery-item-tags{
  display: flex;
  flex-wrap: wrap;
}
.gallery-item.isDragging {
  opacity: 0.7; 
}
.selected-photo{
  box-sizing: border-box;
}
.dragged-photo {
  opacity: 0.5;
}
.hovered-photo {
  border: 0.3rem dashed white;
}
.drop-indicator {
  background-color: lightgray; 
  height: 20rem; 
  margin-bottom: 1rem;
}

span{
  border: 0.1rem solid white;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  color: white;
  margin: 0.3rem;
}

@media screen and (max-width:768px){
  .content,.header{
  flex-direction: column;
   }
}
.content-home{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-login {
  display: flex;
  flex-direction: column;
  text-align: left; 
}
.form-login div{
  width: 15rem;
  margin-bottom: 1rem;
}
.form-login label {
  display: block;
  font-weight: bold;
}
.form-login input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 0.3rem;
}
.btn-login {
  width: 15rem;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.btn-login:hover {
  background-color: #0056b3;
}